.cartIcon {
    cursor: pointer;
    fill: rgba(0, 200, 255, 0.767);
}

.enter {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.userInterface {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cashBlock {
    display: flex;
    align-items: center;
    gap: 4px;
    @media screen and (max-width: 350px) {
        display: none;
    }
}

.likeIconBlock {
    cursor: pointer;
    position: relative;
}

