.blackout {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.443);
    display: grid;
}

.blackoutContent {
    position: fixed;
    // width: 100vw;
    // height: 100vh;
    z-index: 6;
    height: fit-content;
    background-color: white;
    border-radius: 15px;
    margin: auto;
}