.main {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.429);
}

.blackout {
    z-index: 4;
    display: flex;
    align-items: center;
    width: auto;
    max-width: fit-content;
    margin: 0 auto;
    height: calc(100% - 200px);
}

.blackoutContent {
    z-index: 4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 16, 0.574);
}