.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    min-height: 60vh;
}

.mainContent {
    display: flex;
    width: fit-content;
}

.booksBlock {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;
}

.amountPrice {
    display: flex;
    align-items: center;
    gap: 12px;
    width: fit-content;
}

.empty {
    margin: 0 auto;
}

////////////////////////////////////////////////////////////////////////////////////

@media screen and (max-width: 1210px) {
    .booksBlock {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 950px) {
    .wrapper{
        margin: 0;
    }
    .booksBlock {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 530px) {
    .booksBlock {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media screen and (max-width:320px) {
    .booksBlock {
        gap: 10px;
    }
}