footer {
    background-color: #391F00;
    width: 100%;

    @media screen and (max-width:320px) {}
}

.wrapper {
    height: 216px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 60px;
    // padding-bottom: 25px;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainInfo {
    display: flex;
    gap: 90px;

    &__item {

        &__liText {
            color: white;
        }

        & h4 {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 196.19%;
            color: #FFFFFF;
        }

        & ul {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            color: #FFFFFF;
            line-height: 35px;
        }
    }
}

.logoBlock {
    display: flex;
    align-items: center;
    gap: 4px;

    & img {
        width: 42px;
        height: 32.79px;
    }

    & p {
        line-height: 100%;
        color: white;
    }
}

.logoText {

    &__secondText {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 196.19%;
        color: #241400;
    }

    &__bible {
        border-bottom: 2px solid gray;
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 17px;
        color: #4D2900;
    }
}

.phoneCall {

    p {
        font-style: normal;
        font-weight: 900;
        font-size: 12px;
        text-align: center;
        color: #FFFFFF;
    }

    button {
        background-color: inherit;
        border: 2px solid #E16A00;
        padding: 4px 8px;
        transition: all 0.3s;

        p {
            transition: all 0.3s;
            color: #E16A00;
            line-height: 100%;
            font-size: 12px;
            font-weight: 500;
        }

        &:hover {
            transition: all 0.3s;
            background-color: rgb(161, 110, 0);

            & p {
                transition: all 0.3s;
                color: #241400;
            }
        }

    }
}

.rights {
    display: flex;
    justify-content: space-around;
    // border: 3px solid red;

    & p {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #FFFFFF;
    }
}

/////////////////////////////////////////////////////////////////

@media screen and (max-width: 900px) {
    .wrapper {
        padding-top: 10px;
        height: auto;
    }

    .info {
        display: grid;
        grid-template-areas:
            "logoBlock logoBlock phoneCall phoneCall"
            "mainInfo mainInfo mainInfo mainInfo";

        &__item {}
    }

    .logoBlock {
        grid-area: logoBlock;
        width: 200px;
    }

    .mainInfo {
        grid-area: mainInfo;
    }

    .phoneCall {
        max-width: 150px;
        grid-area: phoneCall;
        justify-self: end;
        align-self: start;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
    }

    .rights {
        grid-area: rights;

        @media screen and (max-width: 700px) {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: fit-content;
        }
    }
}

/////////////////////////////////////////////////////////////////


@media screen and (max-width: 610px) {
    .wrapper {
        padding: 20px 5px;
    }

    .info {}

    .logoBlock {
        width: 130px;
    }

    .mainInfo {}

    .phoneCall {
        width: 120px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        & button {
            & p {
                line-height: 100%;
                font-size: 12px;
                font-weight: 500;
            }
        }
    }

    .rights {}
}

///////////////////////////////////////////////////////////////////////////////////////////////////

@media screen and (max-width: 535px) {
    .wrapper {
        padding: 10px 5px;
        display: flex;
        flex-direction: column;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logoBlock {
        width: 130px;
    }

    .mainInfo {
        display: none;
    }

    .phoneCall {
        align-self: center;
    }

    .rights {
        margin-top: 10px;
        text-align: center;
    }
}