.card {
    width: fit-content;
    padding: 25px;
    color: #241400;
    display: flex;
    flex-direction: column;
    border: 1.5px solid rgb(141, 141, 141);
    border-radius: 5px;

    &__price {
        font-weight: bolder;
        font-size: 18px;
        display: flex;
        align-items: center;
        color: #241400;
    }

    &__title {
        font-weight: 700;
        font-size: 12px;
        line-height: 196.19%;
        color: #241400;
    }

    &__author {
        font-weight: 400;
        font-size: 12px;
        color: #241400;
    }

    &__info {}

    &__footer {
        display: grid;
        grid-template-columns: 110px auto;
        gap: 4px;

        &__cartIcon {
            height: 38.67px;
            display: flex;
            align-items: center;
            justify-content: baseline;

            & p {
                font-size: 10px;
                line-height: 90%;
            }
        }
    }
}

.image {
    // width: 134.23px;
    // height: 190px;
}

.imgBlock {
    // display: flex;
    align-self: center;
}

.likeSvg {
    & .colorLiked {
        fill: red;
    }

    & .colorNotLiked {
        fill: black;
    }

    &:hover {
        // transition: all 0.3;
        // fill: red;
        // width-stroke: 20;
        // stroke: "green"

    }
}