.card {
    width: 150px;
    height: 300px;
    padding: 25px;
    color: #241400;
    display: flex;
    flex-direction: column;
    border: 1.5px solid rgb(141, 141, 141);
    border-radius: 5px;

    &__price {
        font-weight: bolder;
        font-size: 18px;
        display: flex;
        align-items: center;
        color: #241400;
    }

    &__title {
        font-weight: 700;
        font-size: 12px;
        line-height: 196.19%;
        color: #241400;
    }

    &__author {
        font-weight: 400;
        font-size: 12px;
        color: #241400;
    }

    &__footer {
        display: grid;
        grid-template-columns: 110px auto;
        align-items: center;
        gap: 4px;

        &__cartIcon {
            display: flex;
            border-radius: 10px;
            padding: 7px;
            display: flex;
            gap: 4px;
            align-items: center;

            & p {
                font-size: 10px;
                line-height: 90%;
            }
        }

        &__followInCartBtn {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}

.imgBlock {
    align-self: center;
}