// .main {
//     @media screen and (max-width: 950px) {
//         display: none;
//     }
// }

// .linksBlock {
//     display: flex;
//     gap: 21px;
//     // font-family: 'Montserrat';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 15px;
//     // line-height: 196.19%;
//     display: flex;
//     align-items: center;
//     color: #241400;
// }

// .navDropdown {
//     position: absolute;
//     opacity: 0;
//     z-index: 10;
// }

//////////////////////////////////////////////////////////////////////////
.main {
    width: 100%;
    max-width: 320px;

    @media screen and (max-width: 950px) {
        display: none;
    }
}

.linksBlock {
    justify-content: space-between;
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #241400;
}

.navDropdown {
    position: absolute;
    opacity: 0;
    z-index: 10;
}