// @import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Petemoss&display=swap");


.main {
    // min-height: 70vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &__backBtn {
        align-self: start;
    }
}

.wrapper {
    display: flex;
    gap: 50px;
    justify-content: space-around;

    & span {
        align-self: flex-end;
        color: rgba(128, 128, 128, 0.628);
        font-size: 15px;

    }
}

.imgBlock {
    display: flex;
    align-items: center;

    &__image {
        width: 200px;
    }
}

.aboutBook {
    padding: 70px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 300px;
    max-height: 500px;

    & h1 {
        font-size: 40px;
        line-height: 100%;
    }

    &__title {
        display: flex;
        gap: 5px;
    }

    &__subTitle {
        display: flex;

        & h3 {
            line-height: 100%;
        }
    }
}

.bookInterract {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
    gap: 50px;
}


/////////////////////////////////////////////////////////////////

@media screen and (max-width: 840px) {

    .main {
        &__backBtn {}
    }

    .wrapper {
        gap: 20px;

    }

    .imgBlock {
        &__image {}
    }

    .aboutBook {
        display: flex;
        flex-direction: column;
        gap: 20px;

        & h1 {
            // border: 1px solid red;

            line-height: 90%;
        }

        &__title {
            // border: 1px solid red;
            display: flex;
            flex-direction: column;

            & span {
                align-self: start;
            }
        }

        &__subTitle {
            display: flex;
            flex-direction: column;
            align-items: start;

            & span {
                align-self: start;
            }
        }
    }

    .bookInterract {}
}

//////////////////////////////////////////////////////////////////////////////////////////////


@media screen and (max-width: 840px) {

    .main {
        &__backBtn {}
    }

    .wrapper {
        flex-direction: column-reverse;
    }

    .imgBlock {
        &__image {}
    }

    .aboutBook {
        padding: 10px 0;
        & h1 {}

        &__title {
            & span {}
        }

        &__subTitle {
            & span {}
        }
    }

    .bookInterract {}
}